.cases{
    .cases-block{
        img{
            object-fit: cover;
            width: 100%;
        }
        box-shadow: 24px 24px 10px rgba(24, 25, 27, 0.01), 15px 15px 9px rgba(24, 25, 27, 0.09), 9px 9px 7px rgba(24, 25, 27, 0.3), 4px 4px 5px rgba(24, 25, 27, 0.51), 1px 1px 3px rgba(24, 25, 27, 0.59), 0px 0px 0px rgba(24, 25, 27, 0.6);
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        margin-bottom: 24px;
        .cases-detail{
            width: 96%;
            height: 96%;
            margin: 0 auto;
            position: absolute;
            z-index: 999;
            top: 2%;
            left: 2%;
            border: 1px solid $accent-1;
            border-radius: 15px;
            display: grid;
            place-content: center;
            h2{
                font-family: $font-sec;
                font-weight: 500;
                line-height: 140%;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                background: radial-gradient(100% 2129.21% at 0% 50%, #CBA473 0%, #C98229 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                margin-bottom: 10px;
            }
            p{
                font-weight: 500;
                line-height: 140%;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: $white;
                margin: 0;

            }
        }
    }
}