.color-primary{
    color:$accent-1;
}
.color-brown{
    color:$accent-2;
}
.color-light{
    color:$accent-3;
}
.color-primary{
    color:$accent-1;
}
.bg-white{
    background-color: $white !important;
}
.bg-primary{
    background-color:$accent-1 !important;
}
.color-dark{
    color:$black;
}
.bg-dark{
    background-color: $black !important;
}
.color-dark-2{
    color:$black-1;
}
.bg-dark-2{
    background-color:$black-1;
}
.color-dark-3{
    color:$black-2;
}
.bg-dark-3{
    background-color:$black-2;
}
.color-white{
    color:$white; 
}
.color-gray{
    color:$gray-1;
}
.bg-gray{
    background-color: $gray-1;
}
.color-gray-2{
    color:$gray-2;
}
.bg-gray-2{
    background-color:$gray-2;
}
.color-gray-3{
    color:$gray-3;
}
.bg-gray-3{
    background-color:$gray-3;
}
.color-gray-4{
    color:$gray-4;
}
.bg-gray-4{
    background-color:$gray-4;
}

.primary-hover{
    &:hover{
        color: $black-1;
    }
}
.secondery-hover{
    &:hover{
        color: $white;
    }
}
.bg{
    background: $bg;
}
.inverse-bg{
    background: $inverse-bg;
}

.fs-95{
    font-size:$font-95;
    @include media-query(1200px) {
        font-size: 72px;
    }
    @include media-query(900px) {
        font-size: 49px;
    }
    @include media-query(490px) {
        font-size: 38px;
    }
}
.fs-76{
    font-size:$font-76;
    @include media-query(1200px) {
        font-size: 59px;
    }
    @include media-query(900px) {
        font-size: 49px;
    }
    @include media-query(490px) {
        font-size: 38px;
    }
}
.fs-61{
    font-size:$font-61;
    @include media-query(1200px) {
        font-size: 52px;
    }
    @include media-query(768px) {
        font-size: 42px;
    }
    @include media-query(490px) {
        font-size: 38px;
    }
}
.fs-49{
    font-size:$font-49;
    @include media-query(1250px) {
        font-size: 42px;
    }
    @include media-query(768px) {
        font-size: 38px;
    }
    @include media-query(490px) {
        font-size: 28px;
    }
}

.fs-39{
    font-size:$font-39;
    @include media-query(992px) {
        font-size: 28px;
    }
    @include media-query(580px) {
        font-size: 21px;
    }
}
.fs-31{
    font-size:$font-31;
    @include media-query(1200px) {
        font-size: 18px;
    }
}
.fs-25{
    font-size:$font-25;
    @include media-query(1200px) {
        font-size: 18px;
    }
}
.fs-20{
    font-size:$font-20;
    @include media-query(1200px) {
        font-size: 18px;
    }
}
.fs-16{
    font-size:$font-16;
    @include media-query(490px) {
        font-size: 14px;
    }
}
.fs-13{
    font-size:$font-13;
}
.fw-3{
    font-weight: 300;
}
.fw-4{
    font-weight: 400;
}
.fw-5{
    font-weight: 500;
}
.fw-6{
    font-weight: 600;
}
.fw-7{
    font-weight: 700;
}
.lh-100{
    line-height:100%;
}
.lh-110{
    line-height: 110%;
}
.lh-120{
    line-height: 120%;
}
.lh-130{
    line-height: 130%;
}
.lh-140{
    line-height: 140%;
}
.lh-150{
    line-height: 150%;
}
.lh-160{
    line-height: 160%;
}
.lh-180{
    line-height: 180%;
}
.ls-1{
    letter-spacing: -0.01em;
}
.ls-0{
    letter-spacing: -0.00em;
}
.ls-2{
    letter-spacing: -0.02em;
}
.ls-3{
    letter-spacing: -0.03em;
}
.ls-4{
    letter-spacing: -0.04em;
}
.hover-animation{
    transition: $transition;
    &:hover{
        transform: translateY(-10px);
    }
}
.transition{
    transition: $transition;
}
.w-150{
    width: 150px;
    @include media-query(768px) {
        width: 100%;
    }

}
.h-220{
    height: 220px;
}
.mt-30-m{
    @include media-query(900px) {
       margin-top: 30px;
     }
}
.mt-30-sm{
    @include media-query(490px) {
       margin-top: 30px;
    }
}
.br-25{
    border-radius: 25px;
}
.br-15{
    border-radius: 15px;
}
.border-bottom{
    border-bottom: 2px solid $gray-3!important;
}
.social-icon{
    display: flex;
    align-items: center;
    margin: 0;
    li{
        a{
            background: $accent-1;
            width: 64px;
            height: 64px;
            border-radius: 50px;
            display: grid;
            place-items: center;
            place-content: center;
            margin: 0 8px;
            transition: $transition;
            i{
                transition: $transition;
                color: $gray-4;
                font-size: 32px;
            }
            &:hover{
                background: $accent-1;
                i{  
                    color: $accent-2;
                }
                svg{
                    stroke: $accent-2;
                }
            }
        }
    }
    &.st-2{
        justify-content: center;
        li{
            a{
                background: $accent-1;
                i{
                    color: $gray-1;
                }
                &:hover{
                    background: $gray-1;
                    i{  
                        color: $accent-1;
                    }
                }
            }
        }
    }
}
.border-white{
    border: 1px solid $white;
}
.font-sec{
    font-family: $font-sec;
}
.radius-10{
    border-radius: 10px;
}
.color-hover{
    &:hover{
        color: $accent-1;
    }
}